.page-add22,
  .runner-pagewrapper .page-add22,
  .runner-pagewrapper .runner-pagewrapper .page-add22
{
padding-top:10px; padding-left:10px;
}
.page-add22 .runner-c-add,
  .runner-pagewrapper .page-add22 .runner-c-add,
  .runner-pagewrapper .runner-pagewrapper .page-add22 .runner-c-add
{
margin-bottom:5px;
}
.page-add22 .runner-c-add,
  .runner-pagewrapper .page-add22 .runner-c-add,
  .runner-pagewrapper .runner-pagewrapper .page-add22 .runner-c-add
{
width:500px;
}
body.page-add22 .runner-c-add
{
margin-left:auto; margin-right:auto;
}
.page-add22 .runner-c-fields,
  .runner-pagewrapper .page-add22 .runner-c-fields,
  .runner-pagewrapper .runner-pagewrapper .page-add22 .runner-c-fields
{
margin-bottom:5px;
}
.page-add22 .runner-c-fields,
  .runner-pagewrapper .page-add22 .runner-c-fields,
  .runner-pagewrapper .runner-pagewrapper .page-add22 .runner-c-fields
{
width:100%;
}
.page-add22 .runner-b-addfields, .page-add22 .runner-b-addfields,
.page-add22 .runner-b-addfields, .page-add22 .runner-b-addfields > *,
  .runner-pagewrapper .page-add22 .runner-b-addfields, .page-add22 .runner-b-addfields,
  .runner-pagewrapper .page-add22 .runner-b-addfields, .page-add22 .runner-b-addfields > *,
  .runner-pagewrapper .runner-pagewrapper .page-add22 .runner-b-addfields, .page-add22 .runner-b-addfields,
  .runner-pagewrapper .runner-pagewrapper .page-add22 .runner-b-addfields, .page-add22 .runner-b-addfields > *
{
white-space: nowrap;
}
.page-add22 .runner-b-addfields, .page-add22 .runner-b-addfields,
.page-add22 .runner-b-addfields, .page-add22 .runner-b-addfields > *,
  .runner-pagewrapper .page-add22 .runner-b-addfields, .page-add22 .runner-b-addfields,
  .runner-pagewrapper .page-add22 .runner-b-addfields, .page-add22 .runner-b-addfields > *,
  .runner-pagewrapper .runner-pagewrapper .page-add22 .runner-b-addfields, .page-add22 .runner-b-addfields,
  .runner-pagewrapper .runner-pagewrapper .page-add22 .runner-b-addfields, .page-add22 .runner-b-addfields > *
{
text-align: right;
}
.page-add22 .runner-b-legend, .page-add22 .runner-b-legend,
.page-add22 .runner-b-legend, .page-add22 .runner-b-legend > *,
  .runner-pagewrapper .page-add22 .runner-b-legend, .page-add22 .runner-b-legend,
  .runner-pagewrapper .page-add22 .runner-b-legend, .page-add22 .runner-b-legend > *,
  .runner-pagewrapper .runner-pagewrapper .page-add22 .runner-b-legend, .page-add22 .runner-b-legend,
  .runner-pagewrapper .runner-pagewrapper .page-add22 .runner-b-legend, .page-add22 .runner-b-legend > *
{
white-space: nowrap;
}
.page-add22 .runner-b-legend, .page-add22 .runner-b-legend,
.page-add22 .runner-b-legend, .page-add22 .runner-b-legend > *,
  .runner-pagewrapper .page-add22 .runner-b-legend, .page-add22 .runner-b-legend,
  .runner-pagewrapper .page-add22 .runner-b-legend, .page-add22 .runner-b-legend > *,
  .runner-pagewrapper .runner-pagewrapper .page-add22 .runner-b-legend, .page-add22 .runner-b-legend,
  .runner-pagewrapper .runner-pagewrapper .page-add22 .runner-b-legend, .page-add22 .runner-b-legend > *
{
text-align: right;
}
.page-add22 .runner-b-addbuttons, .page-add22 .runner-b-addbuttons,
.page-add22 .runner-b-addbuttons, .page-add22 .runner-b-addbuttons > *,
  .runner-pagewrapper .page-add22 .runner-b-addbuttons, .page-add22 .runner-b-addbuttons,
  .runner-pagewrapper .page-add22 .runner-b-addbuttons, .page-add22 .runner-b-addbuttons > *,
  .runner-pagewrapper .runner-pagewrapper .page-add22 .runner-b-addbuttons, .page-add22 .runner-b-addbuttons,
  .runner-pagewrapper .runner-pagewrapper .page-add22 .runner-b-addbuttons, .page-add22 .runner-b-addbuttons > *
{
white-space: nowrap;
}
.page-add22 .runner-b-addbuttons, .page-add22 .runner-b-addbuttons,
.page-add22 .runner-b-addbuttons, .page-add22 .runner-b-addbuttons > *,
  .runner-pagewrapper .page-add22 .runner-b-addbuttons, .page-add22 .runner-b-addbuttons,
  .runner-pagewrapper .page-add22 .runner-b-addbuttons, .page-add22 .runner-b-addbuttons > *,
  .runner-pagewrapper .runner-pagewrapper .page-add22 .runner-b-addbuttons, .page-add22 .runner-b-addbuttons,
  .runner-pagewrapper .runner-pagewrapper .page-add22 .runner-b-addbuttons, .page-add22 .runner-b-addbuttons > *
{
text-align: right;
}
.page-add22 .runner-c-details,
  .runner-pagewrapper .page-add22 .runner-c-details,
  .runner-pagewrapper .runner-pagewrapper .page-add22 .runner-c-details
{
margin-bottom:5px;
}
.page-add22 .runner-c-details,
  .runner-pagewrapper .page-add22 .runner-c-details,
  .runner-pagewrapper .runner-pagewrapper .page-add22 .runner-c-details
{
width:500px;
}
.page-add22 .runner-b-adddetails, .page-add22 .runner-b-adddetails,
.page-add22 .runner-b-adddetails, .page-add22 .runner-b-adddetails > *,
  .runner-pagewrapper .page-add22 .runner-b-adddetails, .page-add22 .runner-b-adddetails,
  .runner-pagewrapper .page-add22 .runner-b-adddetails, .page-add22 .runner-b-adddetails > *,
  .runner-pagewrapper .runner-pagewrapper .page-add22 .runner-b-adddetails, .page-add22 .runner-b-adddetails,
  .runner-pagewrapper .runner-pagewrapper .page-add22 .runner-b-adddetails, .page-add22 .runner-b-adddetails > *
{
white-space: nowrap;
}
.page-add22 .runner-b-adddetails, .page-add22 .runner-b-adddetails,
.page-add22 .runner-b-adddetails, .page-add22 .runner-b-adddetails > *,
  .runner-pagewrapper .page-add22 .runner-b-adddetails, .page-add22 .runner-b-adddetails,
  .runner-pagewrapper .page-add22 .runner-b-adddetails, .page-add22 .runner-b-adddetails > *,
  .runner-pagewrapper .runner-pagewrapper .page-add22 .runner-b-adddetails, .page-add22 .runner-b-adddetails,
  .runner-pagewrapper .runner-pagewrapper .page-add22 .runner-b-adddetails, .page-add22 .runner-b-adddetails > *
{
text-align: right;
}
body.page-add22 .runner-toptable
{
width:100%;
}
body.page-add22 .runner-top
{
padding-right: 5px;
}
