<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="paperID">
	{$paperID_editcontrol}
	</control>
	<control field="userID">
	{$userID_editcontrol}
	</control>
	<control field="author1">
	{$author1_editcontrol}
	</control>
	<control field="institution1">
	{$institution1_editcontrol}
	</control>
	<control field="address1">
	{$address1_editcontrol}
	</control>
	<control field="country1">
	{$country1_editcontrol}
	</control>
	<control field="author2">
	{$author2_editcontrol}
	</control>
	<control field="institution2">
	{$institution2_editcontrol}
	</control>
	<control field="address2">
	{$address2_editcontrol}
	</control>
	<control field="country2">
	{$country2_editcontrol}
	</control>
	<control field="funded">
	{$funded_editcontrol}
	</control>
	<control field="date_submit">
	{$date_submit_editcontrol}
	</control>
	<control field="title">
	{$title_editcontrol}
	</control>
	<control field="abstract">
	{$abstract_editcontrol}
	</control>
	<control field="paperStatus">
	{$paperStatus_editcontrol}
	</control>
	<control field="fullPaper">
	{$fullPaper_editcontrol}
	</control>
	<control field="paymentStatus">
	{$paymentStatus_editcontrol}
	</control>
	<control field="fullName">
	{$fullName_editcontrol}
	</control>
	<control field="cnameShort">
	{$cnameShort_editcontrol}
	</control>
	<control field="cname">
	{$cname_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>