<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_edit} rnr-wrapper rnr-cbw-edit">

{BEGIN container_edit}
<div class="rnr-c rnr-cv rnr-c-edit">

{BEGIN editheader}
<div  class="rnr-brickcontents style2 rnr-b-editheader {$brickclass_editheader}"><span>	<h1>{$pagetitlelabel company edit}</h1>
</span></div>{END editheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}




<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-editfields {$brickclass_editfields}"><table class="fieldGrid">
	{BEGIN creg_fieldblock}
<tr class="{$fielddispclass_creg}" data-fieldname="creg">
	<td class="rnr-label">
		{BEGIN creg_label}{$label company creg}{END creg_label}
	</td>
	<td class="rnr-control style3">
		{$creg_editcontrol}&nbsp;
	</td>
</tr>
{END creg_fieldblock}
	{BEGIN cname_fieldblock}
<tr class="{$fielddispclass_cname}" data-fieldname="cname">
	<td class="rnr-label">
		{BEGIN cname_label}{$label company cname}{END cname_label}
	</td>
	<td class="rnr-control style3">
		{$cname_editcontrol}&nbsp;
	</td>
</tr>
{END cname_fieldblock}
	{BEGIN caddress_fieldblock}
<tr class="{$fielddispclass_caddress}" data-fieldname="caddress">
	<td class="rnr-label">
		{BEGIN caddress_label}{$label company caddress}{END caddress_label}
	</td>
	<td class="rnr-control style3">
		{$caddress_editcontrol}&nbsp;
	</td>
</tr>
{END caddress_fieldblock}
	{BEGIN ccity_fieldblock}
<tr class="{$fielddispclass_ccity}" data-fieldname="ccity">
	<td class="rnr-label">
		{BEGIN ccity_label}{$label company ccity}{END ccity_label}
	</td>
	<td class="rnr-control style3">
		{$ccity_editcontrol}&nbsp;
	</td>
</tr>
{END ccity_fieldblock}
	{BEGIN cstate_fieldblock}
<tr class="{$fielddispclass_cstate}" data-fieldname="cstate">
	<td class="rnr-label">
		{BEGIN cstate_label}{$label company cstate}{END cstate_label}
	</td>
	<td class="rnr-control style3">
		{$cstate_editcontrol}&nbsp;
	</td>
</tr>
{END cstate_fieldblock}
	{BEGIN ccountry_fieldblock}
<tr class="{$fielddispclass_ccountry}" data-fieldname="ccountry">
	<td class="rnr-label">
		{BEGIN ccountry_label}{$label company ccountry}{END ccountry_label}
	</td>
	<td class="rnr-control style3">
		{$ccountry_editcontrol}&nbsp;
	</td>
</tr>
{END ccountry_fieldblock}
	{BEGIN ctel_fieldblock}
<tr class="{$fielddispclass_ctel}" data-fieldname="ctel">
	<td class="rnr-label">
		{BEGIN ctel_label}{$label company ctel}{END ctel_label}
	</td>
	<td class="rnr-control style3">
		{$ctel_editcontrol}&nbsp;
	</td>
</tr>
{END ctel_fieldblock}
	{BEGIN cfax_fieldblock}
<tr class="{$fielddispclass_cfax}" data-fieldname="cfax">
	<td class="rnr-label">
		{BEGIN cfax_label}{$label company cfax}{END cfax_label}
	</td>
	<td class="rnr-control style3">
		{$cfax_editcontrol}&nbsp;
	</td>
</tr>
{END cfax_fieldblock}
	{BEGIN cemail_fieldblock}
<tr class="{$fielddispclass_cemail}" data-fieldname="cemail">
	<td class="rnr-label">
		{BEGIN cemail_label}{$label company cemail}{END cemail_label}
	</td>
	<td class="rnr-control style3">
		{$cemail_editcontrol}&nbsp;
	</td>
</tr>
{END cemail_fieldblock}
	{BEGIN reviewEmail_fieldblock}
<tr class="{$fielddispclass_reviewEmail}" data-fieldname="reviewEmail">
	<td class="rnr-label">
		{BEGIN reviewEmail_label}{$label company reviewEmail}{END reviewEmail_label}
	</td>
	<td class="rnr-control style3">
		{$reviewEmail_editcontrol}&nbsp;
	</td>
</tr>
{END reviewEmail_fieldblock}
	{BEGIN about_fieldblock}
<tr class="{$fielddispclass_about}" data-fieldname="about">
	<td class="rnr-label">
		{BEGIN about_label}{$label company about}{END about_label}
	</td>
	<td class="rnr-control style3">
		{$about_editcontrol}&nbsp;
	</td>
</tr>
{END about_fieldblock}
</table></div>


{BEGIN editbuttons}
<div  class="rnr-brickcontents style2 rnr-b-editbuttons {$brickclass_editbuttons}"><div class="rnr-buttons-right">
	{BEGIN prev_button}
	<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
	{END prev_button}
	{BEGIN next_button}
	<a href="#" class="rnr-button  {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
	{END next_button}
</div>
<div class="rnr-buttons-left">
		{BEGIN save_button}
	<a href="#" class="rnr-button main" {$savebutton_attrs}>Save</a>
	{END save_button}
	{BEGIN reset_button}
	<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
	{END reset_button}
	{BEGIN back_button}
		<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="rnr-button" {$closebutton_attrs}>Close window</a>
	{END close_button}
	</div>
</div>{END editbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_edit}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
