<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN location_tabfieldblock}
<tr class="{$fielddispclass_location}" data-fieldname="location">
	<td class="style1 rnr-label">
		{BEGIN location_label}{$label conference location}{END location_label}
	</td>
	<td class="rnr-control style3">
		{$location_editcontrol}&nbsp;
	</td>
</tr>
{END location_tabfieldblock}
{BEGIN address_tabfieldblock}
<tr class="{$fielddispclass_address}" data-fieldname="address">
	<td class="style1 rnr-label">
		{BEGIN address_label}{$label conference address}{END address_label}
	</td>
	<td class="rnr-control style3">
		{$address_editcontrol}&nbsp;
	</td>
</tr>
{END address_tabfieldblock}
{BEGIN city_tabfieldblock}
<tr class="{$fielddispclass_city}" data-fieldname="city">
	<td class="style1 rnr-label">
		{BEGIN city_label}{$label conference city}{END city_label}
	</td>
	<td class="rnr-control style3">
		{$city_editcontrol}&nbsp;
	</td>
</tr>
{END city_tabfieldblock}
{BEGIN country_tabfieldblock}
<tr class="{$fielddispclass_country}" data-fieldname="country">
	<td class="style1 rnr-label">
		{BEGIN country_label}{$label conference country}{END country_label}
	</td>
	<td class="rnr-control style3">
		{$country_editcontrol}&nbsp;
	</td>
</tr>
{END country_tabfieldblock}
{BEGIN venueInfo_tabfieldblock}
<tr class="{$fielddispclass_venueInfo}" data-fieldname="venueInfo">
	<td class="style1 rnr-label">
		{BEGIN venueInfo_label}{$label conference venueInfo}{END venueInfo_label}
	</td>
	<td class="rnr-control style3">
		{$venueInfo_editcontrol}&nbsp;
	</td>
</tr>
{END venueInfo_tabfieldblock}
{BEGIN venueMap_tabfieldblock}
<tr class="{$fielddispclass_venueMap}" data-fieldname="venueMap">
	<td class="style1 rnr-label">
		{BEGIN venueMap_label}{$label conference venueMap}{END venueMap_label}
	</td>
	<td class="rnr-control style3">
		{$venueMap_editcontrol}&nbsp;
	</td>
</tr>
{END venueMap_tabfieldblock}
{BEGIN venuePhoto_tabfieldblock}
<tr class="{$fielddispclass_venuePhoto}" data-fieldname="venuePhoto">
	<td class="style1 rnr-label">
		{BEGIN venuePhoto_label}{$label conference venuePhoto}{END venuePhoto_label}
	</td>
	<td class="rnr-control style3">
		{$venuePhoto_editcontrol}&nbsp;
	</td>
</tr>
{END venuePhoto_tabfieldblock}
</table>




{END container_1}

</div>