<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="item">
	{$item_editcontrol}
	</control>
	<control 
	field="priceEarly">
	{$priceEarly_editcontrol}
	</control>
	<control 
	field="datelineEarly">
	{$datelineEarly_editcontrol}
	</control>
	<control 
	field="priceNormal">
	{$priceNormal_editcontrol}
	</control>
	<control 
	field="datelineNormal">
	{$datelineNormal_editcontrol}
	</control>
	<control 
	field="local">
	{$local_editcontrol}
	</control>
	<control 
	field="currency">
	{$currency_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
