<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN eduField_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_eduField {$fielddispclass_eduField}">
				{BEGIN eduField_label}Education Field{END eduField_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_eduField {$fielddispclass_eduField}">
				{$eduField_editcontrol}
			</div>
		</td>
	</tr>
{END eduField_tabfieldblock}
</table>





{END container_1}

</div>