<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			



{BEGIN container_toplinks}
<div class="rnr-c rnr-ch rnr-c-toplinks">

{BEGIN security_block}
<div  class="style1 rnr-bl rnr-b-loggedas {$brickclass_loggedas}"><div id="login_block{$id}">
	{BEGIN loggedas_message} 
	<span>Logged on as&nbsp;<b>{$username}</b>&nbsp;</span> 
	{END loggedas_message}
	{BEGIN guestloginbutton}
	<span>
		<a href="#" class="rnr-button" {$guestloginlink_attrs}>Login</a>
	</span>
	{END guestloginbutton}
	{BEGIN logoutbutton}
	<a href="#" class="rnr-button" {$logoutlink_attrs}>Log out</a>
	{END logoutbutton}

</div></div>
{END security_block}


{BEGIN asearch_link}
<div  class="style1 rnr-bl rnr-b-toplinks_advsearch {$brickclass_toplinks_advsearch}">	<a href="followup_user_search.php" class="rnr-button" {$advsearchlink_attrs}>Advanced search</a>
</div>
{END asearch_link}






<div  class="style1 rnr-bl rnr-b-printpanel {$brickclass_printpanel}"></div>



<div class="rnr-hfiller"></div>
</div>
{END container_toplinks}



{BEGIN container_hmenu}
<div class="rnr-c rnr-ch rnr-c-hmenu">

{BEGIN menu_block}
{$menu main horizontal}{END menu_block}

<div class="rnr-hfiller"></div>
</div>
{END container_hmenu}



{BEGIN container_search}
<div class="rnr-c rnr-ch rnr-c-search">

{BEGIN searchform_block}
<div  class="style1 rnr-bl rnr-b-search {$brickclass_search}">	<span>
		{BEGIN searchform_text}
		<input type="text" {$searchfor_attrs} size="25">
		{END searchform_text}
		{BEGIN searchform_search}
			<a href="#" class="rnr-button img" data-icon="search" {$searchbutton_attrs}></a>
		{END searchform_search}
		{BEGIN searchform_showall}	
		<a href="#" class="rnr-button" {$showAllCont_attrs} {$showallbutton_attrs}>Show all</a>
		{END searchform_showall}
	</span>
</div>
{END searchform_block}


{BEGIN searchformbuttons_block}
<div  class="style1 rnr-bl rnr-b-search_buttons {$brickclass_search_buttons}">{BEGIN searchPanelTopButtons}
<span>
	<a href="#" class="rnr-button img" id="showSrchWin{$id}" data-icon="panelfloat" {$showHideSearchWin_attrs}></a>
	<a href="#" class="rnr-button img" id="showOptPanel{$id}" data-icon="paneldown" {$showHideSearchPanel_attrs}></a>
</span>
{END searchPanelTopButtons}
</div>
{END searchformbuttons_block}


{BEGIN searchsaving_block}
<div  class="style1 rnr-bl rnr-b-search_saving_buttons {$brickclass_search_saving_buttons}"></div>
{END searchsaving_block}

<div class="rnr-hfiller"></div>
{BEGIN details_block}
<div  class="style1 rnr-br rnr-b-details_found {$brickclass_details_found}">	<span {$details_attrs}>
			Details found: <b><span class="rnr-details_found_count">{$records_found}</span></b>
	</span>
</div>
{END details_block}


{BEGIN pages_block}
<div  class="style1 rnr-br rnr-b-page_of {$brickclass_page_of}">	<span {$pages_attrs}>
		Page <b>{$page}</b> of <b>{$maxpages}</b>
	</span>

</div>
{END pages_block}


{BEGIN recordspp_block}
<div  class="style1 rnr-br rnr-b-recsperpage {$brickclass_recsperpage}">	<span id="recordspp_block{$id}" name="recordspp_block{$id}">
			Records Per Page:&nbsp;{$recsPerPage}
	</span>	
</div>
{END recordspp_block}


</div>
{END container_search}



{BEGIN container_recordcontrols}
<div class="rnr-c rnr-ch rnr-c-recordcontrols">


{BEGIN record_controls_block}
<div  class="style1 rnr-bl rnr-b-recordcontrol {$brickclass_recordcontrol}">	
			{BEGIN editselected_link}
		<a href="#" class="rnr-button" {$editselectedlink_attrs} {$editselectedlink_span}>Edit selected</a>
	{END editselected_link}
	{BEGIN saveall_link}
		<a href="#" class="rnr-button" {$savealllink_attrs} {$savealllink_span}>Save all</a>
	{END saveall_link}
	{BEGIN cancelall_link}
		<a href="#" class="rnr-button" {$cancelalllink_attrs} {$cancelalllink_span}>Cancel</a>
	{END cancelall_link}

	
	
</div>
{END record_controls_block}

<div class="rnr-hfiller"></div>
</div>
{END container_recordcontrols}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				

{BEGIN container_left}
<div class="rnr-c rnr-cv rnr-c-left">

{BEGIN searchPanel}
<div  class="rnr-brickcontents style1 rnr-b-searchpanel {$brickclass_searchpanel}"><div class="searchPanelContainer">
<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criteria:&nbsp;
		<input type="radio" name="srchType{$id}" class="rnr-radio-button" {$all_checkbox}>&nbsp;{BEGIN all_checkbox_label}<span>all</span>{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType{$id}" class="rnr-radio-button" {$any_checkbox}>&nbsp;{BEGIN any_checkbox_label}<span>any</span>{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="rnr-buttons-group">
			<a href="#" id="showHideControlChooseMenu{$id}" class="rnr-button" {$showHideCtrls_attrs}>Add field</a>
		</span>
		
		<a href="#" id="showHideSearchType{$id}" class="rnr-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
	</div>
	

	<table class="controlsBlock {$controls_block_class}">
				{BEGIN searchCtrlBlock}
		<tr class="srchPanelRow" {$filterRow_attrs}>
			<td class="srchPanelCell">{$delCtrlButt}</td>	
			<td class="srchPanelCell">{$fLabel}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
				<div class="rnr-searchtype">{$searchtype}</div>
				<div class="rnr-searchcontrol">{$searchcontrol}</div>
				<div class="rnr-searchcontrol">{$searchcontrol1}</div>
			</td>	
		</tr>
		{END searchCtrlBlock}
		 
		{BEGIN searchCtrlBlock_fullName}
		<tr class="srchPanelRow {$filterRow_class_fullName}" {$filterRow_attrs_fullName}>
						<td class="srchPanelCell srchPanel-delBtn">{$delCtrlButt}</td>	
			<td class="srchPanelCell">{$label followup_user fullName}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
								<div class="rnr-searchtype">{$searchtype_fullName}</div>
				<div class="rnr-searchcontrol">{$searchcontrol_fullName}</div>
								<div class="rnr-searchcontrol">{$searchcontrol1_fullName}</div>
			</td>	
		</tr>
		{END searchCtrlBlock_fullName}
		 
		{BEGIN searchCtrlBlock_email}
		<tr class="srchPanelRow {$filterRow_class_email}" {$filterRow_attrs_email}>
						<td class="srchPanelCell srchPanel-delBtn">{$delCtrlButt}</td>	
			<td class="srchPanelCell">{$label followup_user email}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
								<div class="rnr-searchtype">{$searchtype_email}</div>
				<div class="rnr-searchcontrol">{$searchcontrol_email}</div>
								<div class="rnr-searchcontrol">{$searchcontrol1_email}</div>
			</td>	
		</tr>
		{END searchCtrlBlock_email}
		 
		{BEGIN searchCtrlBlock_country}
		<tr class="srchPanelRow {$filterRow_class_country}" {$filterRow_attrs_country}>
						<td class="srchPanelCell srchPanel-delBtn">{$delCtrlButt}</td>	
			<td class="srchPanelCell">{$label followup_user country}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
								<div class="rnr-searchtype">{$searchtype_country}</div>
				<div class="rnr-searchcontrol">{$searchcontrol_country}</div>
								<div class="rnr-searchcontrol">{$searchcontrol1_country}</div>
			</td>	
		</tr>
		{END searchCtrlBlock_country}
		 
		{BEGIN searchCtrlBlock_institution}
		<tr class="srchPanelRow {$filterRow_class_institution}" {$filterRow_attrs_institution}>
						<td class="srchPanelCell srchPanel-delBtn">{$delCtrlButt}</td>	
			<td class="srchPanelCell">{$label followup_user institution}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
								<div class="rnr-searchtype">{$searchtype_institution}</div>
				<div class="rnr-searchcontrol">{$searchcontrol_institution}</div>
								<div class="rnr-searchcontrol">{$searchcontrol1_institution}</div>
			</td>	
		</tr>
		{END searchCtrlBlock_institution}
		 
		{BEGIN searchCtrlBlock_student}
		<tr class="srchPanelRow {$filterRow_class_student}" {$filterRow_attrs_student}>
						<td class="srchPanelCell srchPanel-delBtn">{$delCtrlButt}</td>	
			<td class="srchPanelCell">{$label followup_user student}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
								<div class="rnr-searchtype">{$searchtype_student}</div>
				<div class="rnr-searchcontrol">{$searchcontrol_student}</div>
								<div class="rnr-searchcontrol">{$searchcontrol1_student}</div>
			</td>	
		</tr>
		{END searchCtrlBlock_student}
	</table>	


	
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<a href="#" class="rnr-button" id="searchButton{$id}" {$searchbutton_attrs}>Search</a>
	</div>
</div>

</div></div>{END searchPanel}



</div>
{END container_left}


			</div>
			<div class="rnr-center {$blockclass_center}">
				

{BEGIN container_message}
<div class="rnr-c rnr-ch rnr-c-message">

{BEGIN message_block}
<div  class="style1 rnr-bc rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>
{END message_block}


</div>
{END container_message}



{BEGIN container_grid}


{BEGIN grid_block}
						<table class="rnr-c rnr-cont rnr-c-grid rnr-b-grid rnr-gridtable  hoverable " cellpadding="0" >
						<thead>
															{BEGIN grid_header}
								<tr class="rnr-toprow style1 {$gridHeader_class}" >
									{BEGIN record_header}
									{BEGIN listIcons_column}
									<th iEditCont="all">&nbsp;</th>
									{END listIcons_column}	

																		{BEGIN checkbox_column}
									<th class="rnr-bc">
										<input type="checkbox" {$checkboxheader_attrs}>
									</th>
									{END checkbox_column}

																																			{BEGIN fullName_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$fullName_class}">
									{BEGIN fullName_fieldheader}
																				<span {$fullName_orderlinkattrs}>
											{$label followup_user fullName}
										</span>
									{END fullName_fieldheader}
									</th>
									{END fullName_fieldheadercolumn}

																	{BEGIN email_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$email_class}">
									{BEGIN email_fieldheader}
																				<span {$email_orderlinkattrs}>
											{$label followup_user email}
										</span>
									{END email_fieldheader}
									</th>
									{END email_fieldheadercolumn}

																	{BEGIN gender_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$gender_class}">
									{BEGIN gender_fieldheader}
																				<span {$gender_orderlinkattrs}>
											{$label followup_user gender}
										</span>
									{END gender_fieldheader}
									</th>
									{END gender_fieldheadercolumn}

																	{BEGIN country_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$country_class}">
									{BEGIN country_fieldheader}
																				<span {$country_orderlinkattrs}>
											{$label followup_user country}
										</span>
									{END country_fieldheader}
									</th>
									{END country_fieldheadercolumn}

																	{BEGIN institution_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$institution_class}">
									{BEGIN institution_fieldheader}
																				<span {$institution_orderlinkattrs}>
											{$label followup_user institution}
										</span>
									{END institution_fieldheader}
									</th>
									{END institution_fieldheadercolumn}

																	{BEGIN faculty_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$faculty_class}">
									{BEGIN faculty_fieldheader}
																				<span {$faculty_orderlinkattrs}>
											{$label followup_user faculty}
										</span>
									{END faculty_fieldheader}
									</th>
									{END faculty_fieldheadercolumn}

																	{BEGIN student_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$student_class}">
									{BEGIN student_fieldheader}
																				<span {$student_orderlinkattrs}>
											{$label followup_user student}
										</span>
									{END student_fieldheader}
									</th>
									{END student_fieldheadercolumn}

																	{BEGIN note_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$note_class}">
									{BEGIN note_fieldheader}
																				<span {$note_orderlinkattrs}>
											{$label followup_user note}
										</span>
									{END note_fieldheader}
									</th>
									{END note_fieldheadercolumn}


									
									<th class="rnr-edge">&nbsp;</th>
									{BEGIN endrecordheader_block}
									<th class="rnr-cs">&nbsp;</th>
									
									{END endrecordheader_block}
									
									{END record_header}
									
								</tr>
								{END grid_header}

						</thead>
						<tbody>	
															{BEGIN grid_row}
								<tr class="rnr-row style1 {$rowclass}" {$rowattrs} {$rowstyle}>
									{BEGIN grid_record}
									{BEGIN listIcons_column}
									<td class="rnr-cc rnr-bc rnr-icons" iEditCont="all" {$rowstyle} {$recordattrs}>
									
																		{BEGIN inlineedit_column}
									{BEGIN inlineedit_link}
																			<a class="rnr-button-img" {$inlineeditlink_attrs} data-icon="inlineedit" title="Inline Edit"></a>
									{END inlineedit_link}
									{END inlineedit_column}

									
																		</td>	
									{END listIcons_column}	

																		{BEGIN checkbox_column}
									<td class="rnr-bc" iEditCont="checkBox" {$rowstyle} {$recordattrs}>
									{BEGIN checkbox}
									<input type="checkbox" {$checkbox_attrs}>
									{END checkbox}
									</td>
									{END checkbox_column}

									
										{BEGIN fullName_fieldcolumn}
	<td class="{$fullName_class}" {$fullName_style} {$recordattrs}>
		{$fullName_value}
	</td>
{END fullName_fieldcolumn}

	{BEGIN email_fieldcolumn}
	<td class="{$email_class}" {$email_style} {$recordattrs}>
		{$email_value}
	</td>
{END email_fieldcolumn}

	{BEGIN gender_fieldcolumn}
	<td class="{$gender_class}" {$gender_style} {$recordattrs}>
		{$gender_value}
	</td>
{END gender_fieldcolumn}

	{BEGIN country_fieldcolumn}
	<td class="{$country_class}" {$country_style} {$recordattrs}>
		{$country_value}
	</td>
{END country_fieldcolumn}

	{BEGIN institution_fieldcolumn}
	<td class="{$institution_class}" {$institution_style} {$recordattrs}>
		{$institution_value}
	</td>
{END institution_fieldcolumn}

	{BEGIN faculty_fieldcolumn}
	<td class="{$faculty_class}" {$faculty_style} {$recordattrs}>
		{$faculty_value}
	</td>
{END faculty_fieldcolumn}

	{BEGIN student_fieldcolumn}
	<td class="{$student_class}" {$student_style} {$recordattrs}>
		{$student_value}
	</td>
{END student_fieldcolumn}

	{BEGIN note_fieldcolumn}
	<td class="{$note_class}" {$note_style} {$recordattrs}>
		{$note_value}
	</td>
{END note_fieldcolumn}


									<td class="rnr-edge" {$recordattrs}>&nbsp;</td>
									{BEGIN endrecord_block}
									<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
									{END endrecord_block}
																	
									{END grid_record}

								</tr>
								{END grid_row}
															
						</tbody>
					</table>
					

{END grid_block}



{END container_grid}



{BEGIN container_pagination}
<div class="rnr-c rnr-ch rnr-c-pagination">

{BEGIN pagination_block}
<div  class="style1 rnr-bc rnr-b-pagination {$brickclass_pagination}">{$pagination}</div>
{END pagination_block}


</div>
{END container_pagination}


			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
