<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="fullName">
	{$fullName_editcontrol}
	</control>
	<control field="email">
	{$email_editcontrol}
	</control>
	<control field="gender">
	{$gender_editcontrol}
	</control>
	<control field="country">
	{$country_editcontrol}
	</control>
	<control field="institution">
	{$institution_editcontrol}
	</control>
	<control field="faculty">
	{$faculty_editcontrol}
	</control>
	<control field="student">
	{$student_editcontrol}
	</control>
	<control field="note">
	{$note_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>