<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN author2_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_author2 {$fielddispclass_author2}">
				{BEGIN author2_label}Co-Author 2{END author2_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_author2 {$fielddispclass_author2}">
				{$author2_editcontrol}
			</div>
		</td>
	</tr>
{END author2_tabfieldblock}
{BEGIN institution2_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_institution2 {$fielddispclass_institution2}">
				{BEGIN institution2_label}Institution{END institution2_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_institution2 {$fielddispclass_institution2}">
				{$institution2_editcontrol}
			</div>
		</td>
	</tr>
{END institution2_tabfieldblock}
{BEGIN address2_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_address2 {$fielddispclass_address2}">
				{BEGIN address2_label}Address{END address2_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_address2 {$fielddispclass_address2}">
				{$address2_editcontrol}
			</div>
		</td>
	</tr>
{END address2_tabfieldblock}
{BEGIN country2_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_country2 {$fielddispclass_country2}">
				{BEGIN country2_label}Country{END country2_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_country2 {$fielddispclass_country2}">
				{$country2_editcontrol}
			</div>
		</td>
	</tr>
{END country2_tabfieldblock}
</table>





{END container_1}

</div>