<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="formalLetter">
	{$formalLetter_editcontrol}
	</control>
	<control field="earlyBird">
	{$earlyBird_editcontrol}
	</control>
	<control field="paymentMode">
	{$paymentMode_editcontrol}
	</control>
	<control field="datePayment">
	{$datePayment_editcontrol}
	</control>
	<control field="dateSubmit">
	{$dateSubmit_editcontrol}
	</control>
	<control field="dateImportant">
	{$dateImportant_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>