<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="paperRef">
	{$paperRef_editcontrol}
	</control>
	<control field="title">
	{$title_editcontrol}
	</control>
	<control field="date_submit">
	{$date_submit_editcontrol}
	</control>
	<control field="paperStatus">
	{$paperStatus_editcontrol}
	</control>
	<control field="paymentStatus">
	{$paymentStatus_editcontrol}
	</control>
	<control field="abstract">
	{$abstract_editcontrol}
	</control>
	<control field="fullPaper">
	{$fullPaper_editcontrol}
	</control>
	<control field="PPT">
	{$PPT_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>