<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN author1_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_author1 {$fielddispclass_author1}">
				{BEGIN author1_label}Name{END author1_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_author1 {$fielddispclass_author1}">
				{$author1_editcontrol}
			</div>
		</td>
	</tr>
{END author1_tabfieldblock}
{BEGIN institution1_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_institution1 {$fielddispclass_institution1}">
				{BEGIN institution1_label}Institution{END institution1_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_institution1 {$fielddispclass_institution1}">
				{$institution1_editcontrol}
			</div>
		</td>
	</tr>
{END institution1_tabfieldblock}
{BEGIN address1_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_address1 {$fielddispclass_address1}">
				{BEGIN address1_label}Address{END address1_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_address1 {$fielddispclass_address1}">
				{$address1_editcontrol}
			</div>
		</td>
	</tr>
{END address1_tabfieldblock}
{BEGIN country1_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_country1 {$fielddispclass_country1}">
				{BEGIN country1_label}Country{END country1_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_country1 {$fielddispclass_country1}">
				{$country1_editcontrol}
			</div>
		</td>
	</tr>
{END country1_tabfieldblock}
</table>





{END container_1}

</div>