<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN author2_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_author2 {$fielddispclass_author2}">
				Name
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_author2 {$fielddispclass_author2}">
			{$author2_value}
			</div>
		</td>
	</tr>
{END author2_tabfieldblock}
{BEGIN institution2_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_institution2 {$fielddispclass_institution2}">
				Institution
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_institution2 {$fielddispclass_institution2}">
			{$institution2_value}
			</div>
		</td>
	</tr>
{END institution2_tabfieldblock}
{BEGIN address2_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_address2 {$fielddispclass_address2}">
				Address
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_address2 {$fielddispclass_address2}">
			{$address2_value}
			</div>
		</td>
	</tr>
{END address2_tabfieldblock}
{BEGIN country2_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_country2 {$fielddispclass_country2}">
				Country
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_country2 {$fielddispclass_country2}">
			{$country2_value}
			</div>
		</td>
	</tr>
{END country2_tabfieldblock}
</table>





{END container_1}

</div>