<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN address_tabfieldblock}
<tr class="{$fielddispclass_address}" data-fieldname="address">
	<td class="style1 rnr-label">
		{$label user address}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_address">
		{$address_value}
		</div>
	</td>
</tr>
{END address_tabfieldblock}
{BEGIN city_tabfieldblock}
<tr class="{$fielddispclass_city}" data-fieldname="city">
	<td class="style1 rnr-label">
		{$label user city}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_city">
		{$city_value}
		</div>
	</td>
</tr>
{END city_tabfieldblock}
{BEGIN postal_tabfieldblock}
<tr class="{$fielddispclass_postal}" data-fieldname="postal">
	<td class="style1 rnr-label">
		{$label user postal}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_postal">
		{$postal_value}
		</div>
	</td>
</tr>
{END postal_tabfieldblock}
{BEGIN state_tabfieldblock}
<tr class="{$fielddispclass_state}" data-fieldname="state">
	<td class="style1 rnr-label">
		{$label user state}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_state">
		{$state_value}
		</div>
	</td>
</tr>
{END state_tabfieldblock}
{BEGIN country_tabfieldblock}
<tr class="{$fielddispclass_country}" data-fieldname="country">
	<td class="style1 rnr-label">
		{$label user country}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_country">
		{$country_value}
		</div>
	</td>
</tr>
{END country_tabfieldblock}
{BEGIN tel_tabfieldblock}
<tr class="{$fielddispclass_tel}" data-fieldname="tel">
	<td class="style1 rnr-label">
		{$label user tel}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_tel">
		{$tel_value}
		</div>
	</td>
</tr>
{END tel_tabfieldblock}
{BEGIN fax_tabfieldblock}
<tr class="{$fielddispclass_fax}" data-fieldname="fax">
	<td class="style1 rnr-label">
		{$label user fax}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_fax">
		{$fax_value}
		</div>
	</td>
</tr>
{END fax_tabfieldblock}
</table>




{END container_1}

</div>