<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN institution_tabfieldblock}
<tr class="{$fielddispclass_institution}" data-fieldname="institution">
	<td class="style1 rnr-label">
		{$label user institution}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_institution">
		{$institution_value}
		</div>
	</td>
</tr>
{END institution_tabfieldblock}
{BEGIN faculty_tabfieldblock}
<tr class="{$fielddispclass_faculty}" data-fieldname="faculty">
	<td class="style1 rnr-label">
		{$label user faculty}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_faculty">
		{$faculty_value}
		</div>
	</td>
</tr>
{END faculty_tabfieldblock}
{BEGIN department_tabfieldblock}
<tr class="{$fielddispclass_department}" data-fieldname="department">
	<td class="style1 rnr-label">
		{$label user department}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_department">
		{$department_value}
		</div>
	</td>
</tr>
{END department_tabfieldblock}
{BEGIN research_tabfieldblock}
<tr class="{$fielddispclass_research}" data-fieldname="research">
	<td class="style1 rnr-label">
		{$label user research}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_research">
		{$research_value}
		</div>
	</td>
</tr>
{END research_tabfieldblock}
{BEGIN student_tabfieldblock}
<tr class="{$fielddispclass_student}" data-fieldname="student">
	<td class="style1 rnr-label">
		{$label user student}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_student">
		{$student_value}
		</div>
	</td>
</tr>
{END student_tabfieldblock}
</table>




{END container_1}

</div>