<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN address_tabfieldblock}
<tr class="{$fielddispclass_address}" data-fieldname="address">
	<td class="style1 rnr-label">
		{BEGIN address_label}{$label user address}{END address_label}
	</td>
	<td class="rnr-control style3">
		{$address_editcontrol}&nbsp;
	</td>
</tr>
{END address_tabfieldblock}
{BEGIN city_tabfieldblock}
<tr class="{$fielddispclass_city}" data-fieldname="city">
	<td class="style1 rnr-label">
		{BEGIN city_label}{$label user city}{END city_label}
	</td>
	<td class="rnr-control style3">
		{$city_editcontrol}&nbsp;
	</td>
</tr>
{END city_tabfieldblock}
{BEGIN postal_tabfieldblock}
<tr class="{$fielddispclass_postal}" data-fieldname="postal">
	<td class="style1 rnr-label">
		{BEGIN postal_label}{$label user postal}{END postal_label}
	</td>
	<td class="rnr-control style3">
		{$postal_editcontrol}&nbsp;
	</td>
</tr>
{END postal_tabfieldblock}
{BEGIN state_tabfieldblock}
<tr class="{$fielddispclass_state}" data-fieldname="state">
	<td class="style1 rnr-label">
		{BEGIN state_label}{$label user state}{END state_label}
	</td>
	<td class="rnr-control style3">
		{$state_editcontrol}&nbsp;
	</td>
</tr>
{END state_tabfieldblock}
{BEGIN country_tabfieldblock}
<tr class="{$fielddispclass_country}" data-fieldname="country">
	<td class="style1 rnr-label">
		{BEGIN country_label}{$label user country}{END country_label}
	</td>
	<td class="rnr-control style3">
		{$country_editcontrol}&nbsp;
	</td>
</tr>
{END country_tabfieldblock}
{BEGIN tel_tabfieldblock}
<tr class="{$fielddispclass_tel}" data-fieldname="tel">
	<td class="style1 rnr-label">
		{BEGIN tel_label}{$label user tel}{END tel_label}
	</td>
	<td class="rnr-control style3">
		{$tel_editcontrol}&nbsp;
	</td>
</tr>
{END tel_tabfieldblock}
{BEGIN fax_tabfieldblock}
<tr class="{$fielddispclass_fax}" data-fieldname="fax">
	<td class="style1 rnr-label">
		{BEGIN fax_label}{$label user fax}{END fax_label}
	</td>
	<td class="rnr-control style3">
		{$fax_editcontrol}&nbsp;
	</td>
</tr>
{END fax_tabfieldblock}
</table>




{END container_1}

</div>