<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_add} rnr-wrapper rnr-cbw-add">

{BEGIN container_add}
<div class="rnr-c rnr-cv rnr-c-add">

{BEGIN addheader}
<div  class="rnr-brickcontents style2 rnr-b-addheader {$brickclass_addheader}"><span>	<h1>{$pagetitlelabel user add}</h1>
</span></div>{END addheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}




<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-addfields {$brickclass_addfields}"><table class="fieldGrid">
	{BEGIN fullName_fieldblock}
<tr class="{$fielddispclass_fullName}" data-fieldname="fullName">
	<td class="rnr-label">
		{BEGIN fullName_label}{$label user fullName}{END fullName_label}
	</td>
	<td class="rnr-control style3">
		{$fullName_editcontrol}&nbsp;
	</td>
</tr>
{END fullName_fieldblock}
	{BEGIN email_fieldblock}
<tr class="{$fielddispclass_email}" data-fieldname="email">
	<td class="rnr-label">
		{BEGIN email_label}{$label user email}{END email_label}
	</td>
	<td class="rnr-control style3">
		{$email_editcontrol}&nbsp;
	</td>
</tr>
{END email_fieldblock}
	{BEGIN gender_fieldblock}
<tr class="{$fielddispclass_gender}" data-fieldname="gender">
	<td class="rnr-label">
		{BEGIN gender_label}{$label user gender}{END gender_label}
	</td>
	<td class="rnr-control style3">
		{$gender_editcontrol}&nbsp;
	</td>
</tr>
{END gender_fieldblock}
		
<tr>
	<td colspan="2">
		{$Section Contact_Info1}&nbsp;	
	</td>
</tr>

	<tr>
	<td colspan="2">
		{$Section Institution_Info1}&nbsp;	
	</td>
</tr>

	{BEGIN role_fieldblock}
<tr class="{$fielddispclass_role}" data-fieldname="role">
	<td class="rnr-label">
		{BEGIN role_label}{$label user role}{END role_label}
	</td>
	<td class="rnr-control style3">
		{$role_editcontrol}&nbsp;
	</td>
</tr>
{END role_fieldblock}
</table></div>


{BEGIN addbuttons}
<div  class="rnr-brickcontents style2 rnr-b-addbuttons {$brickclass_addbuttons}"><div class="rnr-buttons-left">
		{BEGIN save_button}
	<a href="#" class="rnr-button main" id="saveButton{$id}" {$savebutton_attrs}>Save</a>
	{END save_button}
	{BEGIN reset_button}
	<a href="#" class="rnr-button" id="resetButton{$id}">Reset</a>
	{END reset_button}
	{BEGIN cancel_button}
	<a href="#" class="rnr-button" id="cancelButton{$id}">Cancel</a>
	{END cancel_button}
	{BEGIN back_button}
	<a href="#" class="rnr-button" id="backButton{$id}">Back to list</a>
	{END back_button}
	{BEGIN backToMenu_button}
	<a href="#" class="rnr-button" id="backToMenuButton{$id}">Back to menu</a>
	{END backToMenu_button}
</div>
</div>{END addbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_add}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
